<h1>Boards</h1>

<%= will_paginate @boards %>

<table>
  <tr>
    <th>name</th>
  </tr>
  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to(board.name, board_path(board)) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @boards %>


<hr>

<p>
  這串文字是辨識用：看看cap是否運作成功
</p>
