<h1>Board: <%= @board.name %></h1>
<h2>Controls</h2>
<p>
	<%= link_to "Back", boards_path %> | 
	<%= link_to "Edit", [:edit, @board] %> | 
	<%= link_to "Destroy", @board, method: :delete, confirm: "Are you sure?" %>
</p>

<hr>
<h2>Posts</h2>

posts
